* {
  box-sizing: border-box;
}
body {
  background-color: honeydew;
}
h1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.container {
  text-align: center;
}

button {
  color: white;
  background-color: darkgray;
  border-radius: 5px;
  padding: 20px;
}

.info-display {
  color: black;
  text-align: center;
}

.list-group {
  list-style: none;
  border: 1px solid black;
  margin-bottom: 40px;
  margin-left: 25%;
  width: 50%;
  background-color:chocolate;
}
